---
import ExternalLink from "./icons/ExternalLink.astro";
---

<div class="w-full flex flex-col">
  <a
    href="mailto:ianferrerosanchez@gmail.com"
    class="text-gray-500 hover:text-greenPrimary transition duration-150 ease-in-out flex items-center group/link w-fit"
  >
    ianferrerosanchez@gmail.com
    <ExternalLink
      class="inline-block ml-1 scale-90 group-hover/link:scale-95 group-hover/link:text-greenPrimary transition duration-150 ease-in-out"
    />
  </a>
</div>
